*{
            padding: 0;
            margin: 0;
        }
        main{
            display: flex;
            height: 100vh;
        
        }
        .conteudo{
            padding: 2rem ;
            max-width: 70em;
            
        }
        header{
            background-color: rgb(82, 179, 146);
            padding: 2rem;
            
        }
        header nav ul{
            list-style: none;
            padding: 1rem;
        }
        header nav ul li {
            text-decoration: none;
            color: white;
            margin-bottom: 15px;
        }
        .folhetos1{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 1rem;
            margin: 0 auto;
            text-align: center;
            
        }
        .card{
            border: 1px solid rgb(209, 204, 204);
            padding: 0;
            padding-top: 1rem;
            margin: 0 auto;
            width: 180px;
            height: 200px;
            background-color: rgb(247, 232, 212);
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            border-radius: 2px;
            /* box-shadow: 3px 3px 1px; */
        }
        .icones{
          background-color: white;
          padding: 2rem;
          display: flex;
          justify-content: space-between;
        }