form{
    max-width: 50em;
    margin: 2em auto;
    /* margin atua pra cime e para baixo */
    border: 1px solid gray;
    padding: 2em;
    margin: 2em;
}

{
    label[for]{
        /* atual nas label apenas que tem o atributo [for] */
        display: inline-block;
        width: 7em;
    }
}