*{
    margin:0;
    padding:0;
    text-align: center;
}

header h1 {
    text-align: center;

}

section img{
    margin-bottom: 1em;
    border-bottom: 1px solid burlywood;
    
}

header nav ul li{
    display: inline-block;
    padding: 2em;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

body{
    background-image: url(imagens/trigo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body main ul{
    text-align: center;
    border-bottom: 3em;
}

body main ul li{
    display: inline-block;
    margin: 1px;
    padding-left: 4em;
    padding-right: 4em;
}

footer h3{
    border-bottom: 1px solid burlywood;
    padding: 5px;
    margin-bottom: 2em;
    font-size: 1em;
}