*{
    justify-content: center;
}
header{
    margin: 0 auto;
    border: 1px solid black;
    background-image:linear-gradient(to right, #72cfed, #186c86);
    /*Gradiente de cores na horizontal*/
    margin-bottom: 2em;
}
header.cubo{
    padding: 1em;
}

section{
    display: flex;
    box-sizing: ;
    gap: 1em;
}

div{
    display: flex;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    flex-direction: column;
    padding: 1em;

}
span{
    color: rgb(179, 175, 170);
    text-align: end;

}