*{
    margin: 0;
    padding: 0;
}
header{
    margin: 0 auto;
    background-image:linear-gradient(to right, #72cfed, #186c86);
    /*Gradiente de cores na horizontal*/
    margin-bottom: 2em;
    padding: 1em;
}

section{
    display: flex;
    box-sizing:border-box;
    gap: 1em;
    justify-content: center;
    padding: 2em;
}

div{
    display: flex;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    flex-direction: column;
    padding: 2em;


}
span{
    color: rgb(179, 175, 170);
    text-align: end;

}